body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-title {
  font-size: 55px;
  line-height: 55px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px; padding: 0; border: 0;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.link {
  width: 160px
  height: 65px;
  padding: 0;
  /* Временно для сетки */
}
.inner-page .link {
  order: 0;

  width: 160px;
  height: 65px;
  padding: 25px 20px;
}
.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
  margin-bottom: 75px;
    /* Временно для сетки */
  min-height: 540px;
}
.inner-page .main-header {
  margin-bottom: 55px;
  min-height: 355px;
}
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}
.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
  }
  .slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}
.slider-controls .active::before {
  content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slider-item:nth-child(1) {
  display: block;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.link:hover,
.link:focus {
  opacity: 0.8;
}
.link:active {
  opacity: 0.3;
}
.main-mavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Временно для сетки */
}
.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}
.main-navigation .container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  align-items: center;
  /* Временно для сетки */
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 556px;
  margin: 0;
  padding: 25px;
  align-items: center;

  list-style: none;
  /* Временно для сетки */
}
.user-navigation {
  width: 156px;
  margin: 0;
  padding: 25px;

  list-style: none;
  /* Временно для сетки */
}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}
.site-navigation-current a,
.user-navigation-current a {
  color: #000000;
  border-bottom: 1px solid #fb565a;
}
.main-header b {
  font-size: 55px;
  line-height: 55px;
}
.slide-header {
  display: none;
}
.slide-active {
  display: block;
}
.catalog {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  list-style: none;
  /* Временно для сетки */
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* Временно для сетки */
  text-align: left;
  list-style: none;
}
.catalog-colunms {
  display:flex;
  justify-content: space-between;
}
.catalog-item {
  width: 300px;
  text-align: left;
}
.catalog-item h3 {
  font-size: 24px;
  line-height: 30px;
}
.catalog-inner {
  width: 760px;
  /* Временно для сетки */
  min-height: 1720px;
}
.catalog-list-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 60px;
}
.catalog-inner .catalog-item {
  width: 360px;
  /* Временно для сетки */
  min-height: 620px;
  margin-bottom: 35px;
  margin-right: 40px;
  background-color: transparent;
}
.catalog-inner .catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item a {
  color: #000000;
}
.catalog-item a:hover,
.catalog-item a:focus {
  color: #fb565a;
}
.catalog-item a:active {
  color: rgba(0,0,0,0.3);
}
.cite-items .button-1 {
  color: #ffffff;
  background-color: #fb565a;
}
.cite-items .button-1:hover,
.cite-items .button-1:focus {
  color: #ffffff;
  background-color: #e74246;
}
.cite-items .button-1:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 1px solid #c13135;
}
.cite-items .button-2 {
  color: #ffffff;
  background-color: #00ca74;
}
.cite-items .button-2:hover,
.cite-items .button-2:focus {
  color: #ffffff;
  background-color: #00bc6c;
}
.cite-items .button-2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  border-top: 1px solid #009958;
}
.cite-items .button-3 {
  color: #ffffff;
  background-color: #efc84a;
}
.cite-items .button-3:hover,
.cite-items .button-3:focus {
  color: #ffffff;
  background-color: #eab534;
}
.cite-items .button-3:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  border-top: 1px solid #ce961f;
}
.categories ul {
  list-style: none;
}
.categories h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.categories a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}
.categories-item a:hover,
.categories-item a:focus {
  color: rgba(0,0,0,0.6);
}
.categories-item a:active {
  color: #000000;
}
.categories-item-current a{
  color: #000000;
}
.filters {
  width: 300px;
  /* Временно для сетки */

}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
}
.filter ul {
  list-style: none;
  line-height: 20px;
}
.filter-input+label {
  color: #283136;
}
.filter-input:hover+label,
.filter-input:focus+label {
  color: #000000;
}
.filter-input:disabled+label {
  color: #283136;

  opacity: 0.3;
}
.filter-button {
  text-decoration: none;
  color: #000000;
  background-color: #eeeeee;
}
.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.filter-button:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
  border-top: 1px solid #bfbfbf;
}
.about {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  margin-bottom: 35px;
}
.about-us {
  width: 660px;
  /* Временно для сетки */
}
.about-logo {
  width: 360px;
  /* Временно для сетки */
}
.about b {
  font-size: 45px;
  line-height: 45px;
}
.about ul {
  list-style: none;
  text-align: left;
}
.about h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.project-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.catalog-list-inner {
  list-style: none;
}
.catalog-list-inner .catalog-item-image {
  text-decoration: none;
  color: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.catalog-list-inner .catalog-item-image:hover,
.catalog-list-inner .catalog-item-image:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.name-site {
  text-decoration: none;
  color: #000000;
}
.name-site:hover,
.name-site:focus {
  color: #fb565a;
}
.name-site:active {
  color: rgba(0,0,0,0.3);
}
.info-page .button {
  color: #ffffff;
  background-color: #fb565a;
}
.info-page .button:hover,
.info-page .button:focus {
  color: #ffffff;
  background-color: #e74246;
}
.info-page .button:active {
  color: #ffffff;
  background-color: #d7373b;
}
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 50px;
  margin-bottom: 6;
  list-style: none;
}
.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}
.pagination-item a:hover,
.pagination-item a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
  border-top: 1px solid #bfbfbf;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.table-number {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: bold;
}
.table-text {
  font-size: 16px;
  line-height: 18px;
}
.project ul {
  list-style: none;
}
.item-logo {
  opacity: 0.2;
}
.item-logo:hover,
.item-logo:focus {
  opacity: 1;
}
.item-logo:active {
  opacity: 0.1;
}
.location {
  min-height: 420px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.location-info {
  text-align: center;
  width: 320px;
  margin:55px 0;
  padding: 50px 0;
  background-color: #ffffff;
}
.location p {
  font-size: 16px;
  line-height: 18px;
}
.location h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom:
}
.main-footer {
  color: #000000;
  background-color: #ffffff;
}
.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.main-footer p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  color: #ffffff;
}
.popup-write-us fieldset {
  border: none;
}
.popup-write-us legend {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff bold;
}
.popup-write-us input[type="text"] {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid rgba(0,0,0,0.5);
}
.popup-write-us input:focus {
  border-color: #000000;
}
.popup-write-us h3 {
  font-size: 45px;
  line-height: 45px;
}
.popup-write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
/ *----- Сеточные стили ----- */
html,
body {
  width: 1440px;
  height: 2476px;
}
body {
  background-color: transparent;
}









.main-title {
  margin: 0;
  padding: 0;
  margin-bottom: 115px;
  text-align: center;
}












.item-logo {
  width: 210px;
  min-height: 90px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.location .container {
  display: flex;
}

.main-footer {
  margin-top: 35px;
  padding: 30px 0;
  display:flex;

  /* Временно для сетки */
  background: none;
}
.inner-page .main-footer {
  margin-top: 35px;
  padding: 30px 0;
  display:flex;

  /* Временно для сетки */
  background: none;
}
.footer-social {
  order: 0;
  width: 260px;
  height: 80px;
  margin-right: 140px;
}
.inner-page .footer-social {
  order: 0;
  min-height: 75px;
  width: 260px;
  height: 80px;
}
.footer-info {
  width: 560px;
  /* Временно для сетки */
  min-height: 75px;
}
.inner-page .footer-info {
  width: 560px;
  /* Временно для сетки */
  min-height: 75px;
}
<img src="img/map.png" width="1440" height="416"  alt="Адрес офиса на Нердс на ул.Б.Конюшенная,д 19/8 ">
